<mat-card *ngFor="let todo of todos">
  <div class="container">
    <mat-checkbox
      [checked]="todo.isCompleted"
      (change)="onTodoStatusChanged(todo.id, $event.checked)"
    >
    </mat-checkbox>
    <div class="items">
      <p>
        <strong>
          {{ todo.title }}
        </strong>
      </p>
      <p>{{ todo.description }}</p>
      <p>Deadline: {{ todo.date | date : DATE_FORMAT }}</p>
    </div>
    <mat-card-actions>
      <button mat-button color="primary" (click)="onDelete(todo.id)">
        Delete
      </button>
    </mat-card-actions>
  </div>
</mat-card>
<div class="not-found" *ngIf="noResultsMessage && (!todos || todos.length === 0)">
  <h1>No matching results found.</h1>
</div>