main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  button,
  mat-form-field {
    width: -webkit-fill-available;
  }

  mat-form-field {
    margin-bottom: 10px;
  }

  h1 {
    color: #1f5174;
  }

  button {
    border-width: 2px;
    background-color: #3a6a8d;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: #165379;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}
