<div class="center-items">
  <mat-card>
    <h2>ToDo Lists</h2>
    <div class="add-list">
      <mat-form-field>
        <input matInput #listTitle placeholder="Title" />
      </mat-form-field>

      <mat-form-field>
        <input matInput #listDescription placeholder="Description" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput #listDate [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="button-position">
        <button mat-raised-button color="primary">
          Create
        </button>
      </div>
    </div>
    <div >
      <app-todo-items></app-todo-items>
    </div>
  
  </mat-card>

</div>