<div class="center-items">
  <mat-card>
    <div class="header">
      <h2>ToDo Lists</h2>
      <button mat-stroked-button color="primary" (click)="onLogout()">
        Log out
      </button>
    </div>
    <form class="add-list" [formGroup]="form">
      <mat-form-field>
        <input
          formControlName="title"
          required
          matInput
          #listTitle
          placeholder="Title"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          formControlName="description"
          matInput
          #listDescription
          placeholder="Description"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Start DateTime</mat-label>
        <input matInput #listDate formControlName="date" [min]="minDate" [matDatetimepicker]="dts" autocomplete="false">
        <mat-datetimepicker-toggle [for]="dts" matSuffix></mat-datetimepicker-toggle>
        <mat-datetimepicker #dts type="datetime"></mat-datetimepicker>
      </mat-form-field>

      <div class="button-position">
        <button
          [disabled]="!form.valid"
          mat-raised-button
          color="primary"
          (click)="
            onCreateTodo(listTitle.value, listDescription.value, listDate.value)
          "
        >
          Create
        </button>
      </div>
    </form>
    <div>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <mat-select (selectionChange)="onFilterChange($event.value)">
          <mat-option value="all">All</mat-option>
          <mat-option value="active">Active</mat-option>
          <mat-option value="done">Done</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <app-todo-items
        [todos]="todoList$ | async"
        (deleteTodo)="onDelete($event)"
        (todoStatusChanged)="onTodoStatusChanged($event.id, $event.isCompleted)"
      >
      </app-todo-items>
    </div>
  </mat-card>
</div>
